astor==0.8.1
astunparse==1.6.3
coverage==7.11.0
func_timeout==4.3.5
graphviz==0.21
javalang==0.13.0
litellm==1.78.7
networkx==3.5
openai==2.6.1
protobuf==6.33.0
pygraphviz==1.14
tqdm==4.67.1
transformers==4.56.2
tree_sitter==0.20.4
vllm==0.10.2
